/******** Style for Min Max & Step Controll plugin's Setting page'*******************/
span.configure_section_title {
    font-size: 18px;
    width: 102%;
    background: #4CAF50;
    color: #f3f3f3;
    padding: 5px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding-right: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: block !important;
}
.wcmmq_config_form th {
    width: 300px;
    padding: 15px;
    text-align: left;
}
.wcmmq_config_form_message tr td>input{width: 350px;}
.wcmmq_white_board {
/*    display: block;
    background: #ffffff;
    padding: 0;
    overflow: hidden;*/
}
/*****For Wanting message*****/
.wcmmq_waring_msg {
    padding: 10px;
    background: #ffffba;
}

.wcmmq_waring_msg>i {
    font-weight: bold;
    color: #d00;
}

.wcmmq_waring_msg>b {
    color: green;
    padding: 0 5px;
    background: #f5f5d2;
    font-weight: bold;
}
.hightlighted_text{
    color: #7e7b7b;
    font-weight: normal;
    padding: 4px;
    border: none;
    box-shadow: none !important;
    font-size: 12px;    
}
table.wcmmq_config_form {
    width: 95%;
}

.wcmmq_wrap h2 {
    color: #2a8db0;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0 20px;
}
.wcmmq_wrap .fieldwrap {
    width: 100%;
    display: block;
}
.wcmmq_wrap table.wcmmq_config_form {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    clear: both;
    position: relative;
    table-layout: fixed;
}
.wcmmq_wrap .wp-editor-wrap {
    margin-right: 40px;
    margin-bottom: 0;
}
ul.wcmmq_each_terms_header small {
    padding: 0 15px;
    opacity: .3;
}

/** Admin Menu Design **/
.wcmmq_each_terms_header {
    margin: 0;
    padding: 10px;
    background: #007693;
    color: #fff;
    text-align: right;
    cursor: pointer;
}
.wcmmq_each_terms_header li {
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
    cursor: pointer;
}
.wcmmq_each_terms_header li:first-child {
    margin-left: 0;
    float: left;
    font-size: 150%;
    font-weight: 400;
}

/*each term design*/
.wcmmq_each_terms {
    margin-bottom: 1px;
}
.wcmmq_each_terms table {
    background: #f1f1f1;
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    display: none;
}

.wcmmq_each_terms table.show,
.wcmmq_each_terms.show table{
    display: block;
}

.wcmmq_each_terms table>tr>th {}

.wcmmq_each_terms table th {
    width: 300px;
}

.wcmmq_each_terms table tr th, .wcmmq_each_terms table td {
    padding: 7px 10px !important;
    border-bottom: 1px solid #e4e4e4;
}

.wcmmq_each_terms table * {
    border-collapse: collapse;
}
.wcmmq_terms_wrapper {
    margin-bottom: 25px;
}


.ultraaddons .ua_config_form {
	width: 100%;
	text-align: left;
}
.ultraaddons .ua_config_form th {
	width: 25%;
	min-width: 250px;
}

.ultraaddons .ua_input_number,
.ultraaddons .ua_input_select {
	width: 100%;
        max-width: 400px;
	border: 1px solid #d8d8d8;
	border-radius: 8px;
	padding: 4px 10px;
	height: 38px;
	min-width: 90px;
	box-shadow: none;
	color: #716269;
}

.ultraaddons .ua_input_number:focus,
.ultraaddons .ua_input_select:focus{
    border: 1px solid #a7d9ec;
    box-shadow: none;
}

.ultraaddons {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ultraaddons label {
	text-align: left;
	line-height: 1.3;
	font-weight: 600;
	color: #23282d;
	text-shadow: none;
	font-size: 14px;
}
.ultraaddons .ua_wrapper {
	background: #fff;
	padding: 20px;
	border: 1px solid #ddd;
        max-width: 75%;
        margin-bottom: 50px;
}
.ua_set_condition {
    margin-top: 20px;
}
.ua_config_form_wrapper {
    margin-bottom: 50px;
}

.ua_config_form_wrapper table th, .ua_config_form_wrapper table td {
    padding: 15px;
}

.ultraaddons span.ua_description {
    color: #716269;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 0;
    margin-top: 10px;
    line-height: 20px;
}
.ultraaddons .button-primary {
    background: #007694;
}
.ultraaddons input[type="submit"]{
    text-transform: uppercase;
    font-weight: 600;
}
.ultraaddons input[type="submit"]:focus {
    outline: none;
    box-shadow: none;
}

.wrap.wcmmq_wrap.ultraaddons .wcmmq_config_form select,
.wrap.wcmmq_wrap.ultraaddons span.select2.select2-container{
    width: 100% !important;
    max-width: 500px;
}
.wrap.wcmmq_wrap.ultraaddons .ui-sortable-helper {
    background: white;
    padding: 10px;
    box-shadow: -2px 3px 6px #000000a8;
    border: 1px solid #00000061;
}
@media (max-width: 768px){
    .ultraaddons th, .ultraaddons td, .ultraaddons label {
        display: block;
    }
}

/*Saiful CSS*/
.ua_config_form{display: none;}
.ua_config_form.showing{display: block;}
.wcmmq_terms_promotion{}
.wcmmq-premium {
    opacity: .8;
    position: relative;
    cursor:not-allowed;
}
.wcmmq-premium {
    opacity: 1;
}

.wcmmq-premium>*:first-child:before {
    content: "Pro";
    background: #ff0000c2;
    padding: 3px 9px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 138px;
    z-index: 1;
    line-height: 14px;
}

/*******For Radio Button And Checkbox***********/
.ultraaddons .switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 27px;
}

.ultraaddons .switch input {display:none;}

.ultraaddons .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaeaea;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #bdbdbd;
}

.ultraaddons .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.ultraaddons input:checked + .slider {
  background-color: #2ab934a6;
  border: 1px solid #2ab934;
}

.ultraaddons input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.ultraaddons input:checked + .slider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

/*------ ADDED CSS ---------*/
.ultraaddons .on
{
  display: none;
}

.ultraaddons .on, .ultraaddons .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 30%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
.ultraaddons .off {
    color: #403434;
    font-weight: bold;
    left: 70%;
}
.ultraaddons .on {
    
}

.ultraaddons input:checked+ .slider .on
{display: block;}

.ultraaddons input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.ultraaddons .slider.round {
  border-radius: 39px;
}

.ultraaddons .slider.round:before {
  border-radius: 50%;}

  .wcmmq-nav ul li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}

.wcmmq-nav ul li a {
    text-decoration: none;
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    font-weight: 500;
    outline: none;
    display: block;
    transition: all 0.3s;
}

.wcmmq-nav ul li:hover a {
    background: #007694;
    color: #fff;
}

.wcmmq-nav ul li.wcmmq-pro-buy-now a {
    background: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}


.wcmmq-nav ul  li.wcmmq-pro-buy-now.wcmmq-get-pro-now a {
    background: #ff5722;
    border: 1px solid #ff5722;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.wcmmq-nav ul li.wcmmq-pro-buy-now a:hover,.wcmmq-nav ul  li.wcmmq-pro-buy-now.wcmmq-get-pro-now a:hover {
    background: #349338;
    border: 1px solid #349338 !important;
}
.wcmmq_config_form .select2-container .select2-selection--multiple .select2-selection__rendered:after,
.wcmmq_config_form .select2-container .select2-selection--multiple .select2-selection__rendered:before {
    content: "";
    display: block;
    clear: both;
}
.wcmmq_config_form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    display: flex;
    padding: 4px 6px;
}

.wrap.wcmmq_wrap.ultraaddons .with-background, .wrap.wcmmq_wrap.ultraaddons .ultraaddons-panel .with-background {
    background: #007694;
    color: white;

}

.ultraaddons-panel.inside-panel {
    box-shadow: 0px 0px 20px 0 #00000036;
}

.ultraaddons-panel.inside-panel {}

.ultraaddons-panel.inside-panel h2.with-background {padding-top: 22px;padding-bottom: 10px;background: #8f8f8f !important;}
.wcmmq_config_form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: relative;
}

.wcmmq-premium img {
    width: 45%;
    opacity: 0.6;
    border: 1px solid #96b8cf;
    min-width: 350px;
}

.notice.ca-notice.notice-offer {
    background: #ffffff;
    border: 0 none;
    /* padding-bottom: 5px; */
}
.anywhere-notice.ca-notice.notice-offer {
    padding: 3px 10px;
    border: 0 none;
}

.notice.ca-notice.notice-offer .ca-msg-text p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.anywhere-notice.ca-notice.notice-offer .ca-msg-text p{font-size: 20px;}
.notice.ca-notice.notice-offer .ca-msg-text h1 {
    color: #e91e63;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.notice.ca-notice.notice-offer .ca-msg-text p.ca-links-collection {
    clear: both;
    margin: 5px 0 10px 0;
}
.notice.ca-notice.notice-offer a.ca-logo-link img,
.notice.ca-notice.notice-offer a.ca-logo-link img, .anywhere-notice.ca-notice.notice-offer .ca-logo img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 3px solid #ffffff;
    box-shadow: 4px 4px 14px 9px #00000014;
}
.anywhere-notice.ca-notice .ca-notice-dismiss{display: none !important;}
.notice.ca-notice.notice-offer .ca-msg-text p.ca-links-collection a {
    padding: 5px 15px;
    margin: 0;
    clear: both;
}
.anywhere-notice {}

.anywhere-notice h1 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.anywhere-notice .ca-msg-text {
    padding: 0;
    margin: 0;
}

.anywhere-notice .ca-msg-text p {
    padding: 0;
    margin: 0;
    font-size: 14px !important;
    color: #007694;
    float: left;
    display: inherit;
    width: fit-content;
    /* background: gainsboro; */
}

.anywhere-notice p.ca-links-collection {
    /* background: red; */
    width: fit-content;
    float: right;
    position: absolute;
    right: 15px;
    top: 40%;
}

.anywhere-notice p.ca-links-collection a.ca-button {
    padding: 5px 12px;
    background: #ff9800;
}
.ca-reuire-plugin-notice.anwwhere-notice button.ca-notice-dismiss {
    display: none;
}
.wrap.wcmmq_wrap .wcmmq-submit-button {
    margin-top: 15px;
    margin-bottom: 0px;
}
.wpmmq-form-bottom .ca-reuire-plugin-notice.anwwhere-notice {
    background: white;
}

form#wcmmq-main-configuration-form  #stick_on_scroll-on {
    position: fixed;
    bottom: 33px;
    right: 50px;
    box-shadow: 0px 10px 30px 0 #00000061;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: normal;
    border-radius:unset;
    z-index: 99999;
    display: none;
}
form#wcmmq-main-configuration-form  #stick_on_scroll-on.stick_on_scroll-on{
    display: block;
}
button.add_terms_button.primary.button.button-primary{
    background: #007694!important;
    color: #fff;
}
button.add_terms_button.primary.button.button-primary:hover{
    background: #375F6B!important; 
}



/**Social AREA **/
.codeastrogy-social-area-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.codeastrogy-social-area-wrapper a.ca-social-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    border-radius: 7px;
    padding: 0;
    box-shadow: -3px 2px 3px #00000006;
}
.codeastrogy-social-area-wrapper a.ca-social-link>img {
    background: white;
    border-radius: 5px;
}
.codeastrogy-social-area-wrapper a.ca-social-link.ca-title-available {
    background: #fff;
    border: 1px solid #4a4a4a17;
    transition: .2s all;
}
.codeastrogy-social-area-wrapper a.ca-social-link.ca-title-available:hover {
    background: #02142a;
    border: 1px solid transparent;
    color: white;
}

.codeastrogy-social-area-wrapper a.ca-social-link img {
    height: 30px;
    width: auto;
}
.codeastrogy-social-area-wrapper a.ca-title-available span{padding-right: 10px;}
/**Social AREA **/

.wpmmq-form-bottom.wpmmq-plugin-recommended-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    margin-bottom: 10px;
}

.wrap.wcmmq_wrap h1.ca-main-header-branding {
    color: #39c2cb;
    background: #02142a url('../images/brand/animated-logo.gif') no-repeat center right;
    width: calc(100% - 50px);
    display: flex !important;
    padding: 15px;
    /* margin: 0; */
    line-height: 25px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    background-size: auto 40px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.wrap.wcmmq_wrap img.wcmmq-brand-logo {
    height: 32px;
    box-shadow: 0px 0px 5px 0px #39c2cb;
    background: white;
    border-radius: 8px;
}
.ultraaddons .with-background, .ultraaddons-panel .with-background {
    width: unset;
    background-image: url('../images/brand/header-logo-white-x.png') !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
    background-size: auto 35px;
}

p.wpt-issue-submit {
    border-top: 1px solid #dddddd4a;
    opacity: 1;
    padding-top: 2px;
    margin-top: 2px;
}

p.wpt-issue-submit>b {
    background: #b54545;
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
}

p.wpt-issue-submit a {
    font-weight: 500;
    letter-spacing: 0;
    font-style: oblique;
    background: #8080801c;
    padding: 0 3px;
}

p.wpt-issue-submit a:hover {
    background: black;
    color: #4caf50;
}
.sort-time-offer-wcmmq {
    background: #202020 url('../images/brand/animated-logo.gif') no-repeat center right;
    width: 100%;
    display: block;
    margin-top: 10px;
}

a.ca-social-link.ca-social-ticket.ca-title-available {
    background: #42b9cc;
    color: white;
}
a.wpt-doc-lick {
    text-decoration: none;
    padding: 5px;
    color: #42b9cc;
    font-style: oblique;
}