.qib-button {
    display: inline;
}
.qib-button .qib-button, .qib-button .quantity {
    display: inline-block;
}
/* .single-product div.product form.cart .quantity {
    float: none;
    margin-right: 0;
} */

.single-product div.product form.cart .quantity input[type=number]::-webkit-inner-spin-button, 
.single-product div.product form.cart .quantity input[type=number]::-webkit-outer-spin-button,

.qib-button .quantity input[type=number]::-webkit-inner-spin-button, 
.qib-button .quantity input[type=number]::-webkit-outer-spin-button,

.single-product div.product form.cart .quantity input[type=number]::-moz-inner-spin-button, 
.single-product div.product form.cart .quantity input[type=number]::-moz-outer-spin-button,

.qib-button .quantity input[type=number]::-moz-inner-spin-button, 
.qib-button .quantity input[type=number]::-moz-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}
.single-product div.product form.cart .quantity input[type=number], 
.single-product div.product form.cart .quantity input[type=number],

.qib-button .quantity input[type=number], 
.qib-button .quantity input[type=number]{ 
-moz-appearance:textfield; /* Firefox */
}
.single-product form.cart ul.wcmmq-c-qty {
    padding: 0;
    margin: 30px 0;
    list-style: none;
}
.single-product form.cart input.wcmmq-radio-button {
    width: 25px;
    height: 25px;
    /* background: #fff;
    border: 1px solid #000;
    display: inline-block; */
    -webkit-appearance: auto;
    -moz-appearance: auto;
}
.single-product form.cart input[type=radio].wcmmq-radio-button:after {
    display: none;
}
.single-product form.cart ul.wcmmq-c-qty li {
    display: inline-block;
    margin-right: 20px;
    line-height: 25px;
}