/******** Style for Min Max & Step Controll plugin's Setting page'*******************/
span.configure_section_title {
    font-size: 18px;
    width: 102%;
    background: #4CAF50;
    color: #f3f3f3;
    padding: 5px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding-right: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: block !important;
}
.wcmmq_s_config_form th {
    width: 300px;
    padding: 15px;
    text-align: left;
}
.wcmmq_s_config_form_message tr td>input{width: 350px;}
.wcmmq_s_white_board {
    display: block;
    background: #ffffff;
    padding: 0;
    overflow: hidden;
}
/*****For Wanting message*****/
.wcmmq_s_waring_msg {
    padding: 10px;
    background: #ffffba;
}

.wcmmq_s_waring_msg>i {
    font-weight: bold;
    color: #d00;
}

.wcmmq_s_waring_msg>b {
    color: green;
    padding: 0 5px;
    background: #f5f5d2;
    font-weight: bold;
}
span.configure_instruction {
    padding: 5px;
    background: #333;
    display: block;
    color: #f3f3f3;
    font-size: 18px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}
.config_instruction_img{
    widows: 80%;
    margin: 0 auto;
}
.config_instruction_img {
    width: 80%;
    padding: 0 115px;
}