/******** Style for Min Max & Step Controll plugin's Setting page'*******************/
span.configure_section_title {
    font-size: 18px;
    width: 102%;
    background: #4CAF50;
    color: #f3f3f3;
    padding: 5px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding-right: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: block !important;
}
.wcmmq_s_config_form th {
    width: 300px;
    padding: 15px;
    text-align: left;
}
.wcmmq_s_config_form_message tr td>input{width: 350px;}
.wcmmq_s_white_board {
    display: block;
    background: #ffffff;
    padding: 0;
    overflow: hidden;
}
/*****For Wanting message*****/
.wcmmq_s_waring_msg {
    padding: 10px;
    background: #ffffba;
}

.wcmmq_s_waring_msg>i {
    font-weight: bold;
    color: #d00;
}

.wcmmq_s_waring_msg>b {
    color: green;
    padding: 0 5px;
    background: #f5f5d2;
    font-weight: bold;
}
.wcmmq_fieldwrap {
    width: 75%;
    float: left;
}
.wcmmq_rightside{
    width: 25%;
    float: left;
    padding-top: 0px;
    margin-top: -31px;
}
/****Admin section Right Side*****/
div.wcmmq_rightside div.wcmmq_right_side_in_wrapper {
    padding: 10px;
    margin-top: 16px;
    background: #e5e5e5;
    margin-left: 17px;
    border: 1px solid #4caf50;
}
div.wcmmq_rightside img.rate_us_image {
    max-width: 100%;
}
.rate_us_wrapper h1 {
    color: #989898;
}
.wcmmq_rightside {
    padding-top: 14px;
}
.need_help_wrapper h1 {
    color: #4caf50;
    font-weight: bold;
    font-size: 3em;
}
.need_help_wrapper a {
    color: #9c9c9c;
}
.need_help_wrapper>span{display: block;}



h2.social_title {
    color: #ff6000;
    margin: 6px 0 0 0;
    position:  relative;
    padding-left: 34px;
}

h2.social_title>img {
    width:  30px;
    position:  absolute;
    top: -8px;
    left:  0;
}

.social_title_wrapper p {
    color: #0ba50b;
    padding:  0;
    margin:  0;
    font-size: 14px;
}
.social_links>a {
    text-decoration:  none;
    display:  inline-block;
    background: #ffffff78;
    padding: 0 3px;
    transition: .3s all;
}
.social_links>a:hover {
    background: #00000078;
}
span.configure_instruction {
    padding: 5px;
    background: #333;
    display: block;
    color: #f3f3f3;
    font-size: 18px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    width: 75%;
}
.config_instruction_img {
    width: 75%;
    margin: 0 auto;
    padding: 0 20px;
}
ul.wcmmq_s_pro_features_list {
    display: block;
}

ul.wcmmq_s_pro_features_list>li {
    display: block;
    padding: 4px;
    color: #2196F3;
    list-style: square !important;
    padding-left: 33px;
    font-size: 15px;
}