
.wcmmq_icon-cart:before { content: '\e800'; } /* '' */
.wcmmq_icon-basket:before { content: '\e801'; } /* '' */
.wcmmq_icon-bag:before { content: '\e802'; } /* '' */
.wcmmq_icon-basket-1:before { content: '\e803'; } /* '' */
.wcmmq_icon-basket-2:before { content: '\e804'; } /* '' */
.wcmmq_icon-basket-alt:before { content: '\e805'; } /* '' */
.wcmmq_icon-basket-3:before { content: '\e806'; } /* '' */
.wcmmq_icon-grid:before { content: '\e807'; } /* '' */
.wcmmq_icon-gift:before { content: '\e808'; } /* '' */
.wcmmq_icon-th-large-outline:before { content: '\e809'; } /* '' */
.wcmmq_icon-th-large:before { content: '\e80a'; } /* '' */
.wcmmq_icon-th:before { content: '\e80b'; } /* '' */
.wcmmq_icon-th-1:before { content: '\e80c'; } /* '' */
.wcmmq_icon-th-outline:before { content: '\e80d'; } /* '' */
.wcmmq_icon-th-2:before { content: '\e80e'; } /* '' */
.wcmmq_icon-th-large-1:before { content: '\e80f'; } /* '' */
.wcmmq_icon-picture:before { content: '\e810'; } /* '' */
.wcmmq_icon-ok:before { content: '\e811'; } /* '' */
.wcmmq_icon-th-large-2:before { content: '\e812'; } /* '' */
.wcmmq_icon-cancel-circled:before { content: '\e813'; } /* '' */
.wcmmq_icon-cancel-circled-outline:before { content: '\e814'; } /* '' */
.wcmmq_icon-heart:before { content: '\e815'; } /* '' */
.wcmmq_icon-heart-filled:before { content: '\e816'; } /* '' */
.wcmmq_icon-star-filled:before { content: '\e817'; } /* '' */
.wcmmq_icon-thumbs-up:before { content: '\e818'; } /* '' */
.wcmmq_icon-heart-1:before { content: '\e819'; } /* '' */
.wcmmq_icon-photo:before { content: '\e81a'; } /* '' */
.wcmmq_icon-note:before { content: '\e81b'; } /* '' */
.wcmmq_icon-ok-circle:before { content: '\e81c'; } /* '' */
.wcmmq_icon-left-open:before { content: '\e81d'; } /* '' */
.wcmmq_icon-right-open:before { content: '\e81e'; } /* '' */
.wcmmq_icon-expand-collapse:before { content: '\e81f'; } /* '' */
.wcmmq_icon-trash-empty:before { content: '\e820'; } /* '' */
.wcmmq_icon-trash:before { content: '\e821'; } /* '' */
.wcmmq_icon-down-open:before { content: '\e822'; } /* '' */
.wcmmq_icon-up-open:before { content: '\e823'; } /* '' */
.wcmmq_icon-up-open-mini:before { content: '\e824'; } /* '' */
.wcmmq_icon-down-open-mini:before { content: '\e825'; } /* '' */
.wcmmq_icon-dot-3:before { content: '\e826'; } /* '' */
.wcmmq_icon-dot-2:before { content: '\e827'; } /* '' */
.wcmmq_icon-arrows-cw-outline:before { content: '\e828'; } /* '' */
.wcmmq_icon-arrows-cw:before { content: '\e829'; } /* '' */
.wcmmq_icon-help-circled-alt:before { content: '\e82a'; } /* '' */
.wcmmq_icon-help-circled:before { content: '\e82b'; } /* '' */
.wcmmq_icon-info-outline:before { content: '\e82c'; } /* '' */
.wcmmq_icon-info-circled:before { content: '\e82d'; } /* '' */
.wcmmq_icon-plus:before { content: '\e82e'; } /* '' */
.wcmmq_icon-plus-circle:before { content: '\e82f'; } /* '' */
.wcmmq_icon-spin1:before { content: '\e830'; } /* '' */
.wcmmq_icon-spin2:before { content: '\e831'; } /* '' */
.wcmmq_icon-spin3:before { content: '\e832'; } /* '' */
.wcmmq_icon-floppy:before { content: '\e833'; } /* '' */
.wcmmq_icon-spin4:before { content: '\e834'; } /* '' */
.wcmmq_icon-floppy-1:before { content: '\e835'; } /* '' */
.wcmmq_icon-flow-merge:before { content: '\e836'; } /* '' */
.wcmmq_icon-pencil:before { content: '\e837'; } /* '' */
.wcmmq_icon-spin5:before { content: '\e838'; } /* '' */
.wcmmq_icon-spin6:before { content: '\e839'; } /* '' */
.wcmmq_icon-doc-text-inv:before { content: '\e83a'; } /* '' */
.wcmmq_icon-link:before { content: '\e83b'; } /* '' */
.wcmmq_icon-home:before { content: '\e83c'; } /* '' */
.wcmmq_icon-user:before { content: '\e83d'; } /* '' */
.wcmmq_icon-twitter:before { content: '\e83e'; } /* '' */
.wcmmq_icon-globe-inv:before { content: '\f019'; } /* '' */
.wcmmq_icon-linkedin:before { content: '\f05c'; } /* '' */
.wcmmq_icon-github-circled:before { content: '\f09b'; } /* '' */
.wcmmq_icon-table:before { content: '\f0ce'; } /* '' */
.wcmmq_icon-desktop:before { content: '\f108'; } /* '' */
.wcmmq_icon-laptop:before { content: '\f109'; } /* '' */
.wcmmq_icon-tablet:before { content: '\f10a'; } /* '' */
.wcmmq_icon-mobile:before { content: '\f10b'; } /* '' */
.wcmmq_icon-github:before { content: '\f113'; } /* '' */
.wcmmq_icon-youtube-play:before { content: '\f16a'; } /* '' */
.wcmmq_icon-plug:before { content: '\f1e6'; } /* '' */
.wcmmq_icon-brush:before { content: '\f1fc'; } /* '' */
.wcmmq_icon-cart-plus:before { content: '\f217'; } /* '' */
.wcmmq_icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.wcmmq_icon-facebook-official:before { content: '\f230'; } /* '' */
